body{
    background-image: url('../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.app-container{
    max-width: 1000px;
    margin: 0 auto;

}