.social-media-container {
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding:8px 16px;

        li {
            display: flex;

        }

        .icon {

            text-decoration: none;
            font-size: 0;
            color: transparent;
            width: 30px;
            height: 30px;
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            &:hover {
                transform: translateY(-.3rem);
            }

            &:hover::after {
                transform: scale(1.4, 1.6);
                opacity: 0;
            }

            &:active {
                transform: translateY(-.1rem);
            }
        }

        .facebook {
            background-image: url('../assets/icons/facebook.png');
        }

        .instagram {
            background-image: url('../assets/icons/instagram.png');
        }

        .twitterx {
            background-image: url('../assets/icons/twitterx.png');
        }

        .youtube {
            background-image: url('../assets/icons/youtube.png');
        }

        .tiktok {
            background-image: url('../assets/icons/tiktok.png');
        }
    }
}